
.scroll-top {
  position: fixed;
  bottom: 20px;   /* 🔥 top component mule overlap avoid */
  left: 20px;

  width: 45px;
  height: 45px;
  border: none;
  border-radius: 8px;
  background: #0d6efd;
  color: white;
  font-size: 18px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 999;
}

.scroll-top.show {
  opacity: 1;
  visibility: visible;
}



.scroll-top:hover {
  transform: translateY(-5px);
}